/Consultas base datos/dist/
/UT10_ProyectoBase_JPA_MySQL/nbproject/private/
/UT10_ProyectoBase_JPA_H2/nbproject/private/
/UT10_ProyectoBase_JPA_H2 - copia/nbproject/private/
/UT10_ProyectoBase_JPA_H2_Consultas/nbproject/private/
/UT10_ProyectoBase_JPA_H2_Consultas/build/
/UT10_ProyectoBase_JPA_H2_Consultas/dist/
